apiVersion: v2
name: incident-commander
description: A Helm chart for incident-commander
type: application
version: 0.1.0
appVersion: "0.0.10"
dependencies:
  - name: apm-hub
    version: ">= 0.0.20"
    repository: https://flanksource.github.io/charts
  - name: config-db
    version: "0.0.36"
    repository: https://flanksource.github.io/charts
  - name: canary-checker
    version: "0.38.184"
    repository: https://flanksource.github.io/charts
  - name: flanksource-ui
    version: "1.0.149"
    repository: https://flanksource.github.io/charts
    condition: flanksource-ui.enabled
  - name: kratos
    version: "0.25.3"
    repository: https://k8s.ory.sh/helm/charts
    import-values:
      - child: secret
        parent: kratossecret
