apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "incident-commander.name" . }}
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "incident-commander.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "incident-commander.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretKeyRef | default "postgres-connection" }}
                  key: DB_URL_INCIDENT_COMMANDER
          command:
            - /app/incident-commander
          args:
            - serve
            - -vvv
            - --apm-hub=http://apm-hub:8080
            - --canary-checker=http://canary-checker:8080
            - --config-db=http://config-db:8080
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.extra }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
