{{- if eq .Values.db.create true }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
spec:
  serviceName: postgresql
  selector:
    matchLabels:
      app: postgresql
  replicas: 1
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      initContainers:
        - command:
          - sh
          - -c
          - chmod -R 0750 /postgres && chown 999:999 -R /postgres
          image: busybox
          name: postgres-perms
          volumeMounts:
          - mountPath: /postgres
            name: postgresql
      containers:
      - name: postgresql
        image: docker.io/supabase/postgres:14.1.0.21
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data
        volumeMounts:
          - name: postgresql
            mountPath: /var/lib/postgresql/
        envFrom:
          - secretRef:
              name: {{ .Values.db.secretKeyRef.name }}
  volumeClaimTemplates:
  - metadata:
      name: postgresql
    spec:
      accessModes: ["ReadWriteOnce"]
      {{ if .Values.db.storageClass }}
      storageClassName: {{ .Values.db.storageClass }}
      {{ end }}
      resources:
        requests:
          storage: {{ .Values.db.storage }}

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgresql
  ports:
  - port: 5432
    targetPort: 5432

---


{{- end }}
